.about-us {
    height: 900px;
    background-color: var(--ui-dark-shade-color);
    display: flex;
    flex-direction: column;
}

.about-us__image-container {
    background-image: url(../img/about-us__photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    overflow: hidden;
}

.about-us .content-textblock {
    height: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 5%;
    padding-right: 5%;
}

.about-us__separator {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 3px;
    width: 100px;
    background-color: var(--ui-brand-color);
}

.about-us__span {
    color: var(--ui-brand-color);
}

.about-us__text {
    margin-top: 25px;
}

.about-us p {
    color: var(--ui-light-shade-color);
    font: var(--font-additional);
    font-size: 16px;
}

.about-us h2 {
    color: var(--ui-light-shade-color);
    font: var(--font-secondary);
    font-family: sans-serif;
    font-size: 36px;
}
@media (min-width: 768px) {
    .about-us{
        height: 700px;
        width: 100%;
        flex-direction: row;
    }
    .about-us__image-container {
        height: 100%;
        width: 50%;
        overflow: hidden;
    }
    .about-us .content-textblock {
        max-width: 50%;
        justify-content: center;
    }
    .about-us__separator {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 3px;
        width: 100px;
        background-color: var(--ui-brand-color);
    }
    .about-us__text {
        margin-top: auto;
    }
}