.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__article {
    display: block;
}

.blog__article__title {
    display: flex;
    width: 65.49px;
    height: 49.6px;
    font-family: var(--font-secondary);
    color: var(--ui-dark-shade-color);
    font-size: 38px;
    font-weight: 400;
    justify-content: center;
}

.blog__article__title__dot {
    color: var(--ui-brand-color);
}

.blog__article__divider {
    height: 2px;
    width: 25px;
    background-color: var(--ui-dark-accent-color);
    justify-content: center;
    align-items: center;
    margin: auto;

}

.blog__action {
    margin: 20px;
    width: 275.39px;
    height: 55.6px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-third-additional);
    font-size: 20px;
    color: var(--ui-dark-shade-color);
}

.blog__text__wrap {
    display: flex;
    height: 450px;
    width: 90%;
border: solid;
margin: 24px;
    border-color: var(--ui-dark-accent-color);
    border-width: 1px;
    justify-content: center; 
    align-items: center;


}
.blog__text__post{
    font-family: var(--font-third-additional);
    font-size: 24px;
    font-weight: 600;
    color: var(--ui-dark-shade-color);

}