#owl-demo{
  width: 60%;
  margin: 0 auto;
}
#owl-demo .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  vertical-align: middle;
  text-align: center;
}

#owl-demo .item img {
  display: flex;
  width: 75%; 
  height: auto;
  margin: auto;
  vertical-align:middle;
  object-fit: cover;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 80px;
}
.owl-prev:hover, .owl-next:hover {
background-color: transparent !important; /* Змініть колір на потрібний */
}
.owl-prev {
  left: 10px;

}

.owl-next {
  right: 10px;
}

.owl-theme .owl-dots {
  display: none;
}
@media screen and (max-width: 991px) {

  #owl-demo .item img {
    width: 100%; /* Змінюємо ширину зображень .item img на бажану в цьому діапазоні */
  }

  
}
@media screen and (max-width:768px){
  #owl-demo .item{
    height: 250px;
  }
  .owl-prev, .owl-next {
    
    top: 100px;
  }
}