.add-to-cart__button {
  width: 130px;
  height: 50px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 15px;
  background: #000;
  color: var(--ui-light-shade-color);
  border: none;
  transition: .3s ease-out;
}

.add-to-cart__button:hover {
  background: var(--ui-brand-color);
  transition: .3s ease-out;
  cursor: pointer;
}

.show-now__button {
  /* shop now button styles */
}

/* move styles below to personal css file */
.shop__new-collections__button {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--ui-brand-color);
  font-family: var(--font-primary);
  font-size: 16.5px;
  color: var(--ui-light-shade-color);
  padding: 17px 30px;
  font-weight: bold;
}

.shop__new-collections__button:hover {
  background-color: var(--ui-btn-primary-hover-bg-color);
}
