.deal__content {
    display: block;
    background-color: var(--ui-dark-shade-color);
}

@media (min-width:769px) {
    .deal__content {

        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .deal__image-container {

        object-fit: cover;
        object-position: 0% 22.629%;
    }

    .deal__text-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .deal__title {
        font-size: 124px;
        line-height: 124px;
        word-break: break-word;

    }

    .deal__link {
        padding-right: 32px;

    }
}

@media (min-width:1200px) {
    .deal__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.deal img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 0% 22.629%;
}

.deal__image-container {
    display: flex;
    min-height: auto;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    overflow: clip;
}

.deal__text-container {
    display: block;
    padding: 100px 30px;

}

.deal__container {
    padding-left: 15px;
    padding-right: 15px;
}

.deal__title {
    color: var(--ui-light-shade-color);
    font-family: var(--font-secondary);
    font-size: 62px;
    font-weight: 400;
    line-height: 62px;
    text-align: left;
    position: relative;
    white-space:inherit;
}

.deal__span {
    color: var(--ui-brand-color);
    font-weight: bold;
    font-size: 42px;
}

.deal__description {
    font-family: var(--font-third-additional);
    color: var(--ui-light-shade-color);
    font-size: 16px;
    overflow-wrap:break-word;
    margin-top: 35px;
    font-weight: 700;
    line-height: 27.2px;
    position: relative;
}

.deal__text-highlight {
    text-decoration: line-through;
    font-weight: 700;
    line-height: 39.1px;
    font-size: 23px;
}

.deal__text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-third-additional);
    color: var(--ui-light-shade-color);
    line-height: 30px;
}

.deal a:hover {
    text-decoration: underline;
}

.deal__link {
    display: flex;
    color: var(--ui-light-shade-color);
    font-family: var(--font-third-additional);
    font-size: 15px;
    font-weight: 700;
    line-height: 19.99px;
    text-align: center;
    margin-top: 35px;
    max-width:270px;
    margin-bottom: 25px ;
}


.deal__clock {
    color: white;
}