/*.container {
    position: relative;
    width: 500px; Задайте ширину і висоту контейнера, відповідно до вашого дизайну 
    height: 300px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;  Забезпечить заповнення контейнера фоновим зображенням 
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); Це центрує текст по горизонталі та вертикалі в контейнері 
    font-size: 24px;  Задайте розмір, кольори та інші стилі для тексту 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Додайте тінь тексту для виділення 
    background-color: rgba(0, 0, 0, 0.5); /* Додайте півпрозорий фон для тексту 
    padding: 10px 20px; Додайте відступи для тексту
}
*/






.discounts {
    display: flex;
    padding-top: 35px;
    padding-bottom: 25px;
}

@media (min-width:768px) {
    .discounts__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(min-width:992px) {
    .discounts__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

.discounts__container {

    padding-left: 24px;
    padding-right: 24px;

}

.discount__image {
    display:block ;
    width: 100%;
    height: inherit;
}

.discounts__list-item {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.discounts__text-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 65%;
    width: 80%;
    transform: translate(6%, -41%);
    font-size: 24px;
    color: var(--ui-light-shade-color);
    background-color: rgba(34, 35, 35, 0.89);
    padding: 10px 20px;
    text-align: center;
    white-space: nowrap;
}

.discounts__image-container {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discounts h2 {
    font-size: 30px;
    font-family: var(--font-secondary);
    font-weight: 400;
    min-width: 100%;

}

.discounts a:hover {
    text-decoration: underline;
}

.discounts__text-link {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 700;
    text-decoration: none;
    color: var(--ui-light-shade-color);
    line-height: 25.2px;
}