/*-----------Header__Attention__Start-----------*/
.header__attention__message {
  background-color: var(--ui-brand-color);
}

.header__attention__message-text,
.header__attention__email,
.header__attention__phone {
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--ui-light-shade-color);
}

/*-----------Header__Attention__End-----------*/

/*----------Navbar__Start----------*/

.container {
  background-color: var(---ui-dark-shade-color);
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--ui-light-shade-color);
}
/*----------Navbar__End----------*/

/*----------Header__Banner__Start----------*/

.header__banner-text,
.new-collections__text__large {
  font-family: var(--font-secondary);
  font-size: 124px;
  color: var(--ui-dark-shade-color);
}

.new-collections__othercolor {
  font-family: var(--font-secondary);
  font-size: 124px;
  color: var(--ui-brand-color);
}

.new-collections__text__small {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: var(--ui-dark-accent-color);
}

.new-collections__square {
  font-size: 24px;
  color: var(--ui-brand-color);
}


/*----------Header__Banner__End----------*/
