.new-arrivals {
    padding-top: 120px;
    padding-bottom: 120px;
}

.new-arrivals__container {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.new-arrivals__banner {
    width: 15%;
    margin: 0 150px 0 50px;
}

.new-arrivals__title {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 52px;
}

.new-arrivals__description {
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--ui-dark-accent-color);
}

.new-arrivals__button {
    color: var(--ui-dark-shade-color);
    display: inline-block;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--ui-dark-shade-color);
    font-weight: 700;
    font-family: var(--font-primary);
    text-decoration: none;
    padding: 13px 35px;
    margin-top: 40px;
    transition: .3s;
}

.new-arrivals__button:hover {
    background-color: var(--ui-dark-shade-color);
    color: var(--ui-light-shade-color);
    transition: .3s;
}

.new-arrivals__products {
    position: relative;
    width: 85%;
    padding: 0 20px;
    overflow: hidden;
}

.products__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.product-card__element {
    flex: 0 0 calc(25% + 5px);
}

.product-card__image {
    width: calc(100% - 15px);
}

.product-card__image img {
    width: 100%;
}

.product-card__title {
    font-family: var(--font-primary);
    text-transform: none;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 25px;
}

.product-card__title a {
    color: var(--ui-dark-accent-color);
}

.product-card__title a {
    font-weight: 100;
    text-decoration: none;
    word-break: break-word;
}

.product-card__title a:visited {
    color: var(--ui-dark-accent-color);
}

.product-card__price {
    font-family: var(--font-primary);
    color: var(--ui-brand-color);
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: 1px;
}

.product-card__button {
    margin-top: 24px;
}

.products__button--left {
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background: var(--ui-light-shade-color);
    transform: rotate(-180deg);
    opacity: .8;
}

.products__button--left:hover {
    cursor: pointer;
}

.products__button--right {
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background: var(--ui-light-shade-color);
    opacity: .8;
}

.products__button--right:hover {
    cursor: pointer;
}

@media (max-width: 1300px) {
    .new-arrivals__container {
        flex-direction: column;
    }
    
    .new-arrivals__banner {
        width: 100%;
        margin: 0 150px 0 50px;
    }

    .new-arrivals__dash {
        width: 200px;
    }

    .new-arrivals__title {
        font-size: 42px;
    }

    .new-arrivals__products {
        margin-top: 60px;
        width: 100%;
    }

    .product-card__element {
        flex: 0 0 calc(50% + 10px);
    }

    .products__button--left,
    .products__button--right {
        background-color: #000;
    }

    .products__button--left,
    .products__button--right svg {
        fill: var(--ui-dark-shade-color);
    }
}

@media (max-width: 700px) {
    .new-arrivals__container {
        max-width: 90%;
    }

    .new-arrivals {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .product-card__element {
        flex: 0 0 calc(100% + 20px);
    }
    
    .new-arrivals__banner {
        width: 70%;
        margin: 0 30px;
        padding-left: 20px;
    }

    .new-arrivals__title {
        font-size: 38px;
        font-weight: 400;
    }
    
    .new-arrivals__description {
        line-height: 26px;
    }

    .new-arrivals__dash {
        width: 157px;
    }
}