.new-arrivals {
    background-color: rgb(255,255,255);
    padding-top: 120px;
    padding-bottom: 120px;
}

.new-arrivals__container {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.new-arrivals__banner {
    width: 15%;
    margin: 0 150px 0 50px;
}

.new-arrivals__title {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 52px;
}

.new-arrivals__description {
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--ui-dark-accent-color);
}

.new-arrivals__button {
    color: var(--ui-dark-shade-color);
    display: inline-block;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--ui-dark-shade-color);
    font-weight: 700;
    font-family: var(--font-primary);
    text-decoration: none;
    padding: 13px 35px;
    margin-top: 40px;
    transition: .3s;
}

.new-arrivals__button:hover {
    background-color: var(--ui-dark-shade-color);
    color: var(--ui-light-shade-color);
    transition: .3s;
}

.new-arrivals__products {
    position: relative;
    width: 85%;
    padding: 0 20px;
    overflow: hidden;
}

.products__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.product-card__element {
    flex: 0 0 calc(25% + 11px);
}

.product-card__image {
    width: 242px;
}

.product-card__title {
    font-family: var(--font-primary);
    color: var(--ui-dark-accent-color);
    text-transform: none;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 25px;
}

.product-card__title a {
    font-weight: 100;
    text-decoration: none;
    word-break: break-word;
}

.product-card__title a:visited {
    color: inherit;
}

.product-card__price {
    font-family: var(--font-primary);
    color: var(--ui-brand-color);
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: 1px;
}

.product-card__button {
    margin-top: 24px;
}

.products__button--left {
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background: var(--ui-light-shade-color);
    transform: rotate(-180deg);
    opacity: .8;
}

.products__button--left:hover {
    cursor: pointer;
}

.products__button--right {
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background: var(--ui-light-shade-color);
    opacity: .8;
}

.products__button--right:hover {
    cursor: pointer;
}