.offer {
    /* background-image: url(../img/offer-img.png); */
    background-size:cover ;
    height: 418.475px;
    width: 100%
}
.offer__wrapper {
    display: flex;
    flex-direction: column;
}
.offer__wrapper__label {
    height: 67.5px;
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.offer__wrapper__label__svg {
    width: 50px;
    height: 50px;
    align-items: center;
    margin: 15px;
}
.offer__wrapper__label__text {
    color: var(--ui-darc-shade-color);
    font-family: var(--font-third-additional);
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.offer__wrapper__label__text__procent {
    color: var(--ui-brand-color);
    font-size: 21px;
    font-weight: 700;
}
.offer__wrapper__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#email {
    display: block;
    border: none;
    width: 90%;
    padding: 15px;
    --ui-button-color: rgba(34, 35, 35, 0.12);
    background-color: var(--ui-button-color);
}
.offer__bottom__subscribe {
    display: block;
    width: 90%;
    padding: 15px;
    font-family: var(--font-third-additional);
    font-weight: 500;
    font-size: 15px;
    color: var(--ui-light-accent-color);
    background-color: var(--ui-brand-color);
    margin-top: 15px;
    cursor: pointer;
}
.offer__bottom__subscribe:hover {
    background-color: var(--ui-dark-shade-color);
}