.promotion {
    height: 1000px;
    width: 100%;
}

.promotion__items {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.promotion-item__new-arrivals {
    background-image: url(../img/promotion-items/man-with-shoe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.promotion-item__trainers {
    background-image: url(../img/promotion-items/trainers.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.promotion-item__hot-sale {
    background-image: url(../img/promotion-items/hot-sale.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    width: 100%;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.promotion-item__title {
    color: var(--ui-dark-shade-color);
    font-family: var(--font-secondary);
    font-size: 38px;
    font-weight: lighter;
}

.promotion-item__span {
    color: var(--ui-brand-color);
}

.promotion-item__separator {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    width: 80px;
    background-color: var(--ui-brand-color);
}

.promotion-item__link {
    color: var(--ui-dark-shade-color);
    font-family: var(--font-third-additional);
    text-decoration: none;
    font-size: 14px;
}

.promotion-item__text-block {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10%;
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .promotion{
        height: 500px;
        width: 100%;
    }
    .promotion__items {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .promotion-item__new-arrivals {
        width: 40%;
        height: 70%;
        margin-bottom: 0;
    }

    .promotion-item__trainers {
        width: 18%;
        height: 70%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .promotion-item__hot-sale {
        width: 18%;
        height: 70%;
        margin-top: 0;
    }
    .promotion-item__title {
        font-size: 52px;
    }
}