.workout-banner{
    min-width: 310px; 
    position: relative;
    background-image: url('../img/workout-banner-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.workout-banner__container{
    display: flex;
    justify-content: flex-end; 
    height: 100%;
    padding: 0 10px; 
    align-items: center;
    color: var(--ui-light-shade-color);
    height: 100vh;
}
.workout-banner__text{
    padding-left: 30%;
    width: auto;
    word-break: break-word;
    text-align: left; 
    position:relative; 
    padding-top: 0px;
    font-size: 20px;
    margin-right: 15px;
    padding-bottom: 30px;
}
.workout-banner__before-title{
    left: 20px;
    padding-bottom: 20px; 
    position:relative;  
    font-size: 21px;
    opacity:0.6;
    padding-top: 30px;
    font-family: var(--font-secondary);
}
.workout-banner__title{
    word-break: break-word;
    position:relative; 
    left:20px; 
    font-size: 45px;
    font-family: var(--font-secondary);
    font-weight: 1000;
    line-height: 125px;
}
.workout-banner__features{
    word-break: break-word;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    position: relative;
    font-size: 20px;
}
.workout-banner__features .workout-banner__offers{
    display: flex;
    font-family: var(--font-primary);
    font-weight: 700;
    align-items: center;
    margin-right: 5px; 
}
.workout-banner__features .workout-banner__offers .checkbox{
    background-image: url(../img/check_mark.webp);
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px; 
    margin-left: 20px; 
}
.workout-banner__inside-text{
    font-family: var(--font-primary);
    position:relative; 
    font-size: 20px;
    padding-bottom: 40px;
}
.workout-banner__button-more{
    font-family: var(--font-primary);
    position: relative; 
    left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--ui-light-shade-color);
    border: solid var(--ui-light-shade-color);
    text-decoration: none;
}
.workout-banner__button-more:hover{
    background-color: var(--ui-light-shade-color);
    color: var(--ui-black-color);
}
@media (max-width: 768px){
    .workout-banner{
        text-align: left;
        height: 700px;
    }    
    .workout-banner__container{
        text-align: left;
        height: 650px;
    }
    .workout-banner__title{
        font-size: 62px;
        font-weight: 400; 
        line-height: 1; 
    }
    .workout-banner__text{
        padding-left: 0;
        position: relative;
        padding-top: 50px;
    }
    .workout-banner__features{
        gap: 10px; 
        position:relative; 
        left:0px; 
        padding-bottom: 10px;
        padding-top: 5%;
        font-size: 17px;
    }
    .workout-banner__inside-text{
        padding-top: 15px;
        padding-left: 17px;
    }
}
@media (min-width: 768px) and (max-width: 1012px){
    .workout-banner__text{
        word-break: break-word; 
    }
    .workout-banner__before-title{
        left: 0;
        padding-left: 22%;
        width: auto;
        font-size: 23px;
        white-space: normal; 
        padding-bottom: 15px;
    }
    .workout-banner__title{
        left: 0;
        padding-left: 22%;
        width: auto;
        font-size: 90px;  
        font-weight: 400; 
        line-height: 1;

    }
    .workout-banner__features{
        left: 0;
        padding-left: 19%;
        width: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 16px;
    }
    .workout-banner__inside-text{
        left: 0;
        padding-left: 22%;
        width: auto;
        padding-right: 10%;
        font-size: 19px;
    }
    .workout-banner__button-more{   
        left: 22%; 
    }
}
@media (min-width: 1012px){
    .workout-banner__before-title{    
        left: 0;
        padding-left: 22%;
        width: auto;
        font-size: 23px;
        white-space: normal; 
    }
    .workout-banner__title{
        left: 0;
        padding-left: 22%;
        width: auto;
        font-size: 120px;
        font-weight: 400; 
    }
    .workout-banner__features{
        left: 0;
        padding-left: 20%;
        width: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .workout-banner__inside-text{
        left: 0;
        padding-left: 22%;
        width: auto;
        padding-right:10%;
        padding-top: 0px;
        padding-bottom: 5%;
    }
    .workout-banner__button-more{
        left: 22%; 
    }
}
    