.discounts__banner__title {
  
}
.discounts__banner{
    background-image: url(../img/your-disount/your-discount__background.png);
    background-position: center;
    width: 100%;
    height:  auto;
    display: flex;
    align-items: center;
}

.discounts__heading{
  font-family: var(--font-secondary);
  font-size: 22px;
  color: var(--ui-light-shade-color);
}
.discounts__title{
  font-family: var(--font-secondary);
  font-size: 62px;
  color: var(--ui-light-shade-color);
}

.button--toShop {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--ui-brand-color);
    font-family: var(--font-primary);
    font-size: 16.5px;
    color: var(--ui-light-shade-color);
    padding: 15px 25px;
  }
  
  .button--toShop:hover {
    background-color: black;
  }
